#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculadora {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedorResultado {
  display: flex;
  justify-content: center;
}

.resultado {
  display: flex;
  border: 3px solid rgb(0, 255, 55);
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.bordeExterior {
  border: 5px solid #00ffff;
  border-radius: 15px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputValor1 {
  margin: 10px;
}

.inputValor2 {
  margin: 10px;
}
