body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.calculadora {
  display: flex;
  justify-content: center;
}

.contenedorResultado {
  display: flex;
  justify-content: center;
}

.resultado {
  display: flex;
  border: 3px solid rgb(0, 255, 55);
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.calculadoraContainer {
  display: flex;
  justify-content: center;
}

.bordeExterior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #00ffff;
  border-radius: 15px;
  width: 200px;
  height: 350px;
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputValor1 {
  margin: 10px;
}

.inputValor2 {
  margin: 10px;
}

footer {
  margin-top: auto;
  text-align: center;
}

a {
  color: aqua;
}

.ingValor {
  background-color: rgb(25, 0, 255);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 89, 255);
  margin-top: 5px;
}

.operador {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  border-radius: 5px;
  border-color: rgb(255, 47, 186);
}

.reset {
  background-color: rgb(119, 1, 1);
  color: rgb(255, 255, 255);
  border-color: #ff3939;
  font-weight: bold;
  width: 117px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }
}
