#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculadora {
  border: 1px solid greenyellow;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedorResultado {
  display: flex;
  justify-content: center;
}

.resultado {
  display: flex;
  border: 1px solid red;
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
